# Logs
logs
*.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# FS
.DS_Store
thumbs.db

# Docs
*.md

# Workflow
.idea
tmp/
docs/
tests/
examples/
.travis.yml
gulpfile.js
