<%
	let {
		list = []
	} = locals.entry;

	if (list.length === 0) {
		return;
	}

	console.log('features changed - ' + locals.fileChanged);
-%>
<p>Our features:</p>
<ul>
	<% list.forEach(item => { -%>
		<li><%- item %></li>
	<% }); -%>
</ul>
