<% App.setLayout('base.ejs'); %>
<style><%- App.include('style.css'); -%></style>
<script><%- App.include('script.js'); -%></script>
<h1>Hello</h1>
<%- App.partial('features.ejs', {list: ['item 1', 'item 2', 'item 3']}) -%>
