<%
	locals.setLayout('base.ejs');
	let data = locals.require('data.json');
	let _ = locals.require('lodash');
	let merged = _.merge({}, data, {
		key2: 'value2'
	});
	let demo = locals.require('test.js');
	demo();
	console.log(merged);
	console.log(locals.customProp);

	console.log(locals.fileName);
	console.log(locals.filePath);

	locals.block('footer', '<footer>Footer</footer>');
%>
<style><%- locals.include('style.css'); -%></style>
<script><%- locals.include('script.js'); -%></script>
<h1>Hello</h1>
<%- locals.partial('features.ejs', {list: ['item 1', 'item 2', 'item 3']}) -%>
<article><%- locals.require('mds/article.md'); %></article>
